:root {
    --main-dark: hsl(240, 2%, 8%);
    --accent-dark: hsla(0, 0%, 20%, 88%);
    --accent-green: hsl(143, 28%, 50%);
    --accent-pink: hsl(7, 37%, 68%);
    --main-light: #faeeef;
    --title-font: 'Kodchasan', sans-serif;
    --main-font: 'Kufam', sans-serif;
}

/* =================
======CSS resets====== 
====================*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-dark);
    color: var(--main-light);
    font-family: var(--main-font);
    min-height: 100vh;
    min-height: 100svh;
    line-height: 1.5;
    -webkit-font-smootuing: antialiased;
}

img,
picture,
video,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    color: var(--main-light);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-light);
    display: block;
}

/* =======================
========TYPHOGRAPHY========
=========================== */

h1,
h2,
h3,
h4 {
    font-family: var(--title-font);

}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: .8rem;
    margin-bottom: 1rem;
    text-align: center;
}

h3 {
    font-size: 1.7rem;
    text-align: center;
}

h4 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.title-underline {
    display: block;
    width: 15rem;
    height: 0.15rem;
    background-color: var(--accent-green);
    margin: 0 auto .3rem auto;
    border-radius: 20px;
}

/* ============================
==========NAVIGATION===========
=============================== */

.header {
    background: var(--accent-dark);
}

.header-home {
    background: var(--accent-dark);
    position: sticky;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 60px;

}


.logo-link {
    color: var(--main-light);
    text-decoration: none;
    letter-spacing: 0.3rem;
    margin-block: auto;
    margin-left: 2rem;
}

.nav {
    position: fixed;
    background: var(--accent-dark);
    width: 60%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transform: translateX(0);
    transition: transform 250ms;
    margin-block: auto;
}

.navigation-open {
    transform: translateX(-100%);
}

.nav-list {
    display: flex;
    list-style: none;
    margin-top: 7rem;
    padding: 0;
    height: 60%;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
    row-gap: 2rem;

}

.nav-link {
    color: var(--main-light);
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0;
    transition: .3s;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-green);
}

.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.hamburger {
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 1.3rem;
    margin-top: 1rem;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: var(--main-light);
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
    z-index: 1000;
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

.hamburger2 .bar2,
.hamburger3 .bar3,
.hamburger4 .bar4 {
    top: 13.5px;
}

.hamburger4 .bar5 {
    bottom: 0px;
}

.hamburger4 .bar {
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger4 .bar2 {
    width: 1px;
    transform: rotate(90deg);
    left: 13.5px;
}

.hamburger4 .bar3 {
    width: 1px;
    left: 13.5px;

}

.checkbox4:checked+label>.hamburger4>.bar1 {
    top: 13.5px;
    background-color: transparent;
}

.checkbox4:checked+label>.hamburger4>.bar2 {
    left: 0px;
    width: 30px;
    transform: rotate(45deg);
}

.checkbox4:checked+label>.hamburger4>.bar3 {
    left: 0;
    width: 30px;
    transform: rotate(-45deg);
}

.checkbox4:checked+label>.hamburger4>.bar4 {
    background-color: transparent;
}

.checkbox4:checked+label>.hamburger4>.bar5 {
    bottom: 13.5px;
    background-color: transparent;
}



.current {
    border-bottom: 2px solid var(--accent-green);
}

@media (min-width: 700px) {

    .hamburger {
        display: none;
    }

    .header-home .nav {
        background: transparent;
    }


    .nav {
        position: initial;
    }

    .nav-list {
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 2rem 0 0;
    }

    .nav-item {
        margin-left: 2em;
        text-transform: capitalize;
    }

    .nav-link {
        font-size: 1rem;
    }
}


/* ========================
========Hero section========
=========================== */

.hero {
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 6rem;
    width: min(60ch, 100% - 4rem);
    margin-inline: auto;
    min-height: 70vh;
    min-height: 70svh;
}



.hero>p {
    margin-top: 2rem;
    font-size: 1rem;
}

.hero>img {
    margin: 8rem auto 0 auto;
}


/* ========================
=========About me===========
=========================== */

.about {
    margin-top: 60px;
    width: min(60ch, 100% - 4rem);
    margin-inline: auto;
    min-height: 70vh;
    min-height: 70svh;
}

.about>img {
    border-radius: 5px;
    margin-top: 4rem;
    margin: 0 auto;
}

.about>p {
    margin-top: 2rem;
    text-align: center;
    font-size: .875rem;
}

/* ========================
=========Projects===========
=========================== */


.projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}


.projects>div {
    width: min(60ch, 100% - 4rem);
    background-color: var(--accent-dark);
    margin-block: 5rem;
    padding-bottom: 2rem;
    border-radius: 10px;
}

.projects>div>p {
    padding: 1rem 1rem 0 1rem;
}

.project-btn>button {
    margin: 1rem 1.5rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: var(--main-dark);
    color: var(--accent-green);
    font-weight: 700;
    font-size: 1rem;
    transition: .3s;
}

.project-btn>button:hover,
.project-btn>button:focus {
    background-color: var(--accent-green);
    color: var(--main-dark);
    outline: transparent;
}


/* ===================
=======CONTACT========
====================== */


.contact {
    width: min(60ch, 100% - 4rem);
    margin-inline: auto;
}


.contact img {
    display: none;
}

.contact>div {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    text-align: left;
    margin-top: 3em;
    margin-inline: auto;
    width: min(60ch, 100% - 4rem);
}

.icon-large-screen {
    display: none;
}

.icon-small-screen {
    height: 100px;
    width: 100px;
    fill: var(--accent-green);
}

.icon-small-screen:hover {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(5deg);
    }

    20% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(0deg);
    }

    70% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* ======================
=========Footer==========
========================= */


footer {
    min-height: 60px;
    padding-block: 2rem;
    background-color: var(--accent-dark);
    margin-top: 5rem;
}

footer>p {
    margin-bottom: 1rem;
}

.accent-green {
    color: var(--accent-green);
    text-decoration: underline;
    transition: .3s;
}

.accent-green:hover,
.accent-green:focus {
    color: var(--main-light);
}

footer>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

a {
    width: fit-content;
    margin: 0 auto 0 auto;
}



address>a:hover {
    color: var(--accent-green);
    text-decoration: none;
    font-size: 1rem;
    transition: .3s;
}